/* google font imported */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url('https://fonts.cdnfonts.com/css/miama');

                
/* applying the font */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  font-variation-settings: "slnt" 0;
}

/* body styles */
body {
  color: rgba(255, 255, 255);
  background: rgb(0, 0, 0);
}

.hide {
  display: none;
}

#hamburger {
  max-width: 1.12rem;
  color: white;
  cursor: pointer;
}
/* shared styles */

.display-flex {
  display: flex;
}

.color-primary {
  color: rgb(230, 83, 60);
}

.text-center {
  text-align: center;
}

#btn {
  padding: 1rem 3.5rem 1rem 3.5rem;
  background-color: rgb(230, 83, 60);
  color: rgba(255, 255, 255);
  border-radius: 2.625rem;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

/* header styles starts here */

header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  margin-bottom: 6.25rem;
}

.nav {
  max-width: 74%;
  margin: 0 auto;
}

.brand {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

nav {
  justify-content: space-between;
  align-items: center;
}
.links > ul {
  gap: 2.33rem;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.43rem;
  padding: 4px;
}

.links > ul > li {
  list-style: none;
}
.links > ul > li:first-child {
  padding: 8px 20px 8px 20px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
}

.links > ul > li:last-child {
  /* About */
  padding: 0px 20px 0px 20px;
}

.links > ul > li > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.12rem;
  text-align: left;
}


/* banner section styles starts here  */

.banner {
  width: 73%;
  margin: 0 auto;
}
.banner-content {
  align-items: center;
  justify-content: space-between;
  
}

.banner-intro {
  width: 50%;
}
.banner-intro-desc {
  width: 100%;
}
.banner-intro-desc > h1 {
  font-size: 4.87rem;
  font-weight: 900;
  line-height: 100%;
  text-align: left;
  margin: 0;
  margin-bottom: 1.7rem;
}
.banner-intro-desc > p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0.5;
  margin-bottom: 1.7rem;
}

#style-shape {
  font-family: 'Miama', sans-serif;  
  font-size: 9.87rem;
  font-weight: 400;
                                      
}

#join-btn {
  padding: 1rem 2.5rem 1rem 2.5rem;
  background-color:rgb(230, 83, 60);
  color: rgba(255, 255, 255);
  border-radius: 2.625rem;
  border: none;
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 1.3rem;
  border-radius: 2.6rem;
  margin-right: 0.8rem;
}

#download-btn{
  padding: 1rem 2.5rem 1rem 2.5rem;
  background-color: rgb(34, 34, 34);
  color: rgba(255, 255, 255);
  border-radius: 2.625rem;
  border: none;
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 1.3rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2.6rem;

}


/* banner photo styles  */

.banner-image {
  position: relative;
}

.div1 {
  width: 180px;
  height: 88px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem 1.4rem;
  position: absolute;
  top: 20%;
  right: -10%;
}

.div1 > h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  text-align: left;
}
.div1 > h1,p ,
.div2-desc > h1, p {
  margin: 0;
}

.div1 > p {
  font-family: Inter;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
  opacity: 0.65;

}

.div2 {
  align-items: center;
  width: 180px;
  height: 88px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 12%;
  left: -22%;
}
.circle {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
  position: relative;
  margin: 0 1rem;
  
}

#play-icon {
  position: absolute;
  top: 30%;
  left: 40%;
  display: none;
}

.div2-desc >  p {
  font-family: Inter;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
  opacity: 0.65;
}

/* habits section styles here */
.habits {
  max-width: 72%;
  margin: 0 auto;
  margin-bottom: 6.25rem;
}

.habits-intro {
  max-width: 64%;
  margin: 0 auto;
  text-align: center;
}

.habits-heading {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
  margin-bottom: 0.8rem;
}
.habits-description {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  line-height: 1.5rem;
  opacity: 0.5;
}

.habits-contents {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.6rem;
}
.habits-card {
  max-width: 22%;
  text-align: center;
}

.habits-card > img {
  border-radius: 100%;
  margin-bottom: 1.8rem;
  border: 4px solid rgb(34, 34, 34);
}
.card-heading {
  margin: 0.3rem;
  font-size: 1.12rem;
  /* color: rgb(255,255,255); */
}
.card-description {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.5;
}

/* join now section styles */

.join-now {
  max-width: 73%;
  height: 371px;
  margin: 0 auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin-bottom: 6.25rem;
  justify-content: space-between;
  align-items: center;
}

.join-now-content {
  max-width: 46%;
  margin: 2.5rem 0 2.5rem 3.3rem;
}

.join-intro {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
  margin: 0;
}
.join-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 0;
}
.join-now-image {
  max-width: 34%;
  margin: 1.8rem 2rem 1.8rem 0;
}

.join-now-image img {
  width: 100%;
  height: 312px;
  border-radius: 1.12rem;
}

/* BMI intro styles */

.bmi-intro {
  width: 47%;
  margin: 0 auto;
  text-align: left;
}

.bmi-intro-content > h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}
.bmi-intro-content > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  margin: 0.8rem 0;
}

/* BMI calculator styles  */

.calculator {
  max-width: 100%;
  height: 487px;
  background: rgb(34, 34, 34);
  margin: 5rem 0;
}

.bmi-content {
  max-width: 73%;
  margin: 0 auto;
  padding-top: 3rem;
  justify-content: space-between;
  align-items: flex-start;
}

.bmi-index {
  max-width: 40%;
}
.bmi-input {
  width: 50%;
}
table,
tr,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-collapse: collapse;
  text-align: left;
}

th {
  font-size: 1rem;
  font-weight: 500;
}

td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}

.bmi-input > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  margin: 0.8rem 0 2rem 0;
}
form {
  width: 100%;
  margin-bottom: 2rem;
}

.input-batch1 {
  max-width: 100%;
  gap: 0.5rem;
}

.input-batch1 > input {
  padding: 0.8rem 2.5rem 0.8rem 1.25rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  width: 45%;
  margin: 0.5rem 0.2rem 0 0;
}

.input-batch2 {
  max-width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.input-batch2 > input , select{
    width:98%; 
    height: 40px; 
    color: rgba(255, 255, 255, 0.3);
    padding: 0.8rem 2.5rem 0.8rem 1.25rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 0.5rem 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
} 
  /* width: 74%;
  padding: 0.8rem 2.5rem 0.8rem 1.25rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  margin: 0.5rem 0; */


/* .input-batch2 > select {
  width: 45%;
  padding: 0.8rem 2.5rem 0.8rem 1.25rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.3);
  margin: 0.5rem 0;
} */

.input-batch3 {
  width: 100%;
}
.input-batch3 > select {
  padding: 0.8rem 2.5rem 0.8rem 1.25rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
}

.calBtn {
  padding: 1rem  2.5rem;
  background-color: rgb(230, 83, 60);
  color: rgba(255, 255, 255);
  border-radius: 2.625rem;
  border: none;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3rem;
  text-align: center;
  cursor: pointer;
}




/* teams section styles */

.teams {
  max-width: 73%;
  margin: 0 auto;
  margin-bottom: 6.25rem;
}

.teams-content {
  max-width: 63%;
  margin: 0 auto;
}

.teams-content > h1 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 0.8rem;
  font-weight: 900;
}

.teams-content > p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
  opacity: 0.5;
  margin-bottom: 3rem;
}

.trainers {
  height: 570px;
  border-radius: 1.12rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem 1.25rem;
}
.trainer1 {
  position: relative;
  max-width: 330px;
  height: 272px;
  background: url("../images/trainer1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.12rem;
  background-blend-mode: overlay;
  opacity: 0.8;
}

.trainer1-info {
  position: absolute;
  bottom: 0;
  padding: 1.12rem;
  z-index: 1;
}

.trainer1-info h4,
p {
  margin: 0;
}
.trainer1-info h4 {
  font-size: 1.25rem;
}
.trainer1-info p {
  font-size: 0.8rem;
  opacity: 0.5;
}

.trainer2 {
  position: relative;
  max-width: 330px;
  height: 275px;
  background: url("../images/trainer2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.12rem;
  background-blend-mode: overlay;
  opacity: 0.8;
}

.trainer2-info {
  position: absolute;
  bottom: 0;
  padding: 1.12rem;
  z-index: 1;
}

.trainer2-info h4,
p {
  margin: 0;
}
.trainer2-info h4 {
  font-size: 1.25rem;
}
.trainer2-info p {
  font-size: 0.8rem;
  opacity: 0.5;
}
.trainer3 {
  position: relative;
  max-width: 330px;
  height: 275px;
  background: url("../images/trainer3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.12rem;
  background-blend-mode: overlay;
  opacity: 0.8;
}

.trainer3-info {
  position: absolute;
  bottom: 0;
  padding: 1.12rem;
  z-index: 1;
}

.trainer3-info h4,
p {
  margin: 0;
}

.trainer3-info h4 {
  font-size: 1.25rem;
}
.trainer3-info p {
  font-size: 0.8rem;
  opacity: 0.5;
}

.trainer4 {
  position: relative;
  max-width: 330px;
  height: 275px;
  background: url("../images/trainer4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.12rem;
  background-blend-mode: overlay;
  opacity: 0.8;
}

.trainer4-info {
  position: absolute;
  bottom: 0;
  padding: 1.12rem;
  z-index: 1;
}

.trainer4-info h4,
p {
  margin: 0;
}

.trainer4-info h4 {
  font-size: 1.25rem;
}
.trainer4-info p {
  font-size: 0.8rem;
  opacity: 0.5;
}

.trainer5 {
  position: relative;
  max-width: 330px;
  height: 275px;
  background: url("../images/trainer5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.12rem;
  background-blend-mode: overlay;
  opacity: 0.8;
}

.trainer5-info {
  position: absolute;
  bottom: 0;
  padding: 1.12rem;
  z-index: 1;
}

.trainer5-info h4,
p {
  margin: 0;
}

.trainer5-info h4 {
  font-size: 1.25rem;
}

.trainer5-info p {
  font-size: 0.8rem;
  opacity: 0.5;
}

.trainer6 {
  position: relative;
  max-width: 330px;
  height: 275px;
  background: url("../images/trainer6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.12rem;
  background-blend-mode: overlay;
  opacity: 0.8;
}

.trainer6-info {
  position: absolute;
  bottom: 0;
  padding: 1.12rem;
  z-index: 1;
}

.trainer6-info h4,
p {
  margin: 0;
}

.trainer6-info h4 {
  font-size: 1.25rem;
}

.trainer6-info p {
  font-size: 0.8rem;
  opacity: 0.5;
}


/* plans section styles */

.plans {
  max-width: 73%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.plans > h1 {
  font-size: 3rem;
}
.pricing-cards {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.plan-card {
  width: 100%;
  height: 300px;
  background: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  border-radius: 0.5rem;
}

.plan-card-intro > h1 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.plan-card-intro span {
  font-size: 2.5rem;
  color: rgb(230, 83, 60);
  font-weight: 900;
}
.plan-card-intro h4 {
  margin: 1rem 3rem;
  padding: 0.5rem 0;
  background-color: rgb(230, 83, 60, 0.2);
  border-radius: 1rem;
}

.facility p {
  font-size: 0.8rem;
  opacity: 0.5;
  margin-top: 0.2rem;
}

#Enroll-btn {
  width: 90%;
  margin: 0 auto;
  padding: 0.8rem;
  text-align: center;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  color: white;
  background-color: rgb(230, 83, 60);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

/* footer Section style */
footer {
  height: 400px;
  background: rgba(255, 255, 255, 0.1);
}

.footer-content {
  max-width: 73%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 0 5rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-intro {
  max-width: 41%;
  height: 176px;
  text-align: left;
}

.footer-intro > h1 {
  font-size: 4rem;
  font-weight: 800;
  text-align: left;
  margin: 0;
  margin-bottom: 1.5rem;
}

.footer-intro > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.important-links {
  gap: 9.5rem;
  align-items: center;
}
.service-links > h1,
.other-links > h1 {
  font-size: 2rem;
  font-weight: 700;
}

.service-links > p,
.other-links > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.reserved-text {
  max-width: 73%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.5rem;
}

.reserved-text > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}









/* mobile responsive styles */

@media screen and (max-width: 576px) {
  /* mobile Responsive styles for headers */
  .nav {
    max-width: 100%;
    padding: 1.25rem;
  }

  .links {
    display: none;
  }
  .hide {
    display: block;
  }


  /* mobile responsive styles for banner section */

  .banner {
    width: 90%;
    margin: 0;
  }
  .banner-content {
    width: 100%;
    flex-direction: column;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
  }
  
  .banner-intro {
    width: 100%;
  }
  .banner-intro-desc {
    width: 100%;
  }

.banner-intro-desc > h1 {
    font-size: 2.87rem;
    margin: 0;
    margin-bottom: 1rem;
  }
.banner-intro-desc > p {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.5;
    margin-bottom: 1.7rem;
  }
  
  #style-shape {
    font-family: 'Miama', sans-serif;  
    font-size: 4.87rem;
    font-weight: 400;
                                        
  }
  .button-batch {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
  #join-btn {
    width: 50%;
    padding: 1rem ;
    background-color:rgb(230, 83, 60);
    color: rgba(255, 255, 255);
    border-radius: 2.625rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.3rem;
    border-radius: 2.6rem;
    margin-right: 0.5rem;
  }
  
  #download-btn{
    width: 50%;
    padding: 1rem;
    background-color: rgb(34, 34, 34);
    color: rgba(255, 255, 255);
    border-radius: 2.625rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.3rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2.6rem;
  
  }
  
  
  /* banner photo styles  */
  
  .banner-image {
    width: 100%;
    position: relative;
    margin-left: 1.5rem;
  }
  .banner-image img {
    width: 280px;
    height: 500px;
  }
  
  .div1 {
    width: 130px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 0.5rem;
    position: absolute;
    top: 10%;
    right: 0%;
  }
  
  .div1 > h1 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
    
  }
  .div1 > h1,p ,
  .div2-desc > h1, p {
    margin: 0;
  }
  
  .div1 > p {
    font-family: Inter;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: left;
    opacity: 0.65;
  
  }
  
  .div2 {
    align-items: center;
    width: 150px;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 0.2rem;
    position: absolute;
    bottom: 41%;
    left: 0%;
    
  }
  .circle {
    width: 35px;
    height: 35px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    position: relative;
    margin: 0 1rem;
    
  }
  
  #play-icon {
    position: absolute;
    top: 30%;
    left: 35%;
    display: block;
  }
  
  .div2-desc >  h1 {
    font-size: 1.5rem;
  }
  .div2-desc >  p {
    font-family: Inter;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
    opacity: 0.65;
  }
  /* mobile responsive styles for habits section */

  .habits {
    max-width: fit-content;
    margin-bottom: 3.75rem;
  }

  .habits-intro {
    max-width: fit-content;
  }

  .habits-heading {
    font-size: 1.5rem;
  }
  .habits-description {
    padding: 0 1rem;
  }

  .habits-contents {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 2.25rem;
    margin-top: 3.6rem;
  }
  .habits-card {
    max-width: 60%;
    text-align: center;
  }

  .habits-card > img {
    width: 100%;
    border-radius: 100%;
    margin-bottom: 1.8rem;
  }

  /* mobile responsive styles for join now */
  .join-now {
    max-width: fit-content;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin: 0 1.25rem;
    margin-bottom: 3.75rem;
  }

  .join-now-content {
    max-width: fit-content;
    margin: 1.8rem 2rem 0 2rem;
  }

  .join-intro {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
  }
  .join-description {
    margin-bottom: 1.5rem;
  }

  #btn {
    width: 100%;
  }
  .join-now-image {
    max-width: fit-content;
    margin: 0 2rem 2rem 2rem;
  }
  .join-now-image img {
    height: auto;
  }


  /* mobile responsive styles for BMI intro section */
   
  .bmi-intro {
    width:90%;
    text-align: left;
  }
  
  .bmi-intro-content > h1 {
    font-size: 2rem;
  }

  /* mobile responsive style for BMI section */


  .calculator {
    height: 772px;
    margin-top: 2rem;
  }

  .bmi-content {
    max-width: 90%;
    flex-direction: column;
    padding: 0.5rem;
  }
  
  .bmi-index {
    max-width: 100%;
    margin-bottom: 2.6rem;
  }

  .bmi-input {
    width: 100%;
  }

  .bmi-input > h1,
  .bmi-index > h1 {
      font-size: 1rem;
  }
 
  .bmi-input > p {
    font-size: 0.8rem;
  }

  table,
  tr,
  th,
  td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-collapse: collapse;
    text-align: left;
  }
  
  th {
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
  }
  
  .bmi-input > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin: 0.8rem 0 2rem 0;
  }


  
  .input-batch2 {
    max-width: 100%;
  }
  
  .input-batch2 > input , select{
    width:98%; 
    height: 40px; 
    padding: 0.8rem 2.5rem 0.8rem 1.25rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 0.5rem 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
} 
 
  .input-batch2 > select {
    color: rgba(255, 255, 255, 0.3);
  } 
  
  .input-batch3 {
    width: 100%;
  }
  .input-batch3 > select {
    width: 100%;;
  }

  .bmi-input button {
    width: 50%;
  }

  .calBtn {
    padding: 1rem 2rem;
    text-align: center;
  }


  /* mobile responsive style for teams section */

  .teams {
    max-width: 100%;
    padding: 1.25rem;
    margin-bottom: 2rem;
  }

  .teams-content {
    max-width: 100%;
    padding: 1.25rem;
  }

  .teams-content > h1 {
    font-size: 1.5rem;
  }

  .trainers {
    height: 1188px;
    grid-template-columns: repeat(1, 1fr);
  }

  .trainer1,
  .trainer2,
  .trainer3,
  .trainer4,
  .trainer5,
  .trainer6 {
    max-width: 100%;
  }

  .not-to-show {
    display: none;
  }


  /* mobile responsive styles for plan section */


  
  .plans {
    max-width: 90%;
    margin-bottom: 2rem;
  }
  
  .plans > h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .pricing-cards {
    flex-direction: column;
  }
  
  
  .plan-card-intro > h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  .plan-card-intro span {
    font-size: 3rem;
  }
  .plan-card-intro h4 {
    margin: 1rem 3rem;
    padding: 0.5rem 0;
    background-color: rgb(230, 83, 60, 0.2);
    border-radius: 1rem;
  }


  /* mobile responsive styles for footer section*/

  footer {
    height: 700px;
  }

  .footer-content {
    max-width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0 1rem;
  }
  .footer-intro {
    margin-top: 2.7rem;
    margin-bottom: 1.8rem;
    max-width: 80%;
  }
  .footer-intro > h1 {
    margin-bottom: 1.5rem;
  }
  .important-links {
    margin-top: 1rem;
    flex-direction: column;
    gap: 0;
  }
  .reserved-text {
    max-width: fit-content;
  }
}

/* tablet responsive styles */

@media screen and (min-width: 768px) and (max-width: 992px) {
  .hide {
    display: none;
  }

  .nav {
    max-width: 100%;
    padding: 1.25rem;
  }

   /* tablets responsive styles for banner section */

   .banner {
    width: 90%;
    margin: 0;
    margin-bottom: 2rem;
  }
  .banner-content {
    width: 100%;
    flex-direction: column;
    padding: 4.25rem;
    justify-content: center;
    align-items: flex-start;
  }
  
  .banner-intro {
    width: 60%;
    text-align: left;
    margin: 0;
  }
  .banner-intro-desc {
    width: 100%;
  }

.banner-intro-desc > h1 {
    font-size: 3.87rem;
    margin: 0;
    margin-bottom: 1rem;
  }
.banner-intro-desc > p {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.5;
    margin-bottom: 1.7rem;
  }
  
  #style-shape {
    font-family: 'Miama', sans-serif;  
    font-size: 4.87rem;
    font-weight: 400;
                                        
  }
  .button-batch {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
  #join-btn {
    width: 50%;
    padding: 1rem ;
    background-color:rgb(230, 83, 60);
    color: rgba(255, 255, 255);
    border-radius: 2.625rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.3rem;
    border-radius: 2.6rem;
    margin-right: 0.5rem;
  }
  
  #download-btn{
    width: 50%;
    padding: 1rem;
    background-color: rgb(34, 34, 34);
    color: rgba(255, 255, 255);
    border-radius: 2.625rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.3rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2.6rem;
  
  }
  
  
  /* banner photo styles  */
  
  .banner-image {
    width: 100%;
    text-align: center;
    position: relative;
    margin-left: 1.5rem;
  }
  .banner-image img {
    width: 280px;
    height: 500px;
  }
  
  .div1 {
    width: 130px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 0.5rem;
    position: absolute;
    top: 13%;
    right: 30%;
  }
  
  .div1 > h1 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
    
  }
  .div1 > h1,p ,
  .div2-desc > h1, p {
    margin: 0;
  }
  
  .div1 > p {
    font-family: Inter;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: left;
    opacity: 0.65;
  
  }
  
  .div2 {
    align-items: center;
    width: 150px;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 0.2rem;
    position: absolute;
    bottom: 25%;
    left: 25%;
    
  }
  .circle {
    width: 35px;
    height: 35px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    position: relative;
    margin: 0 1rem;
    
  }
  
  #play-icon {
    position: absolute;
    top: 30%;
    left: 35%;
    display: block;
  }
  
  .div2-desc >  h1 {
    font-size: 1.5rem;
  }
  .div2-desc >  p {
    font-family: Inter;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
    opacity: 0.65;
  }

  /* tablets responsive styles for habits section */

  .habits {
    max-width: fit-content;
  }
  .habits-contents {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2.25rem;
    margin-top: 1.6rem;
  }
  .habits-card {
    max-width: 90%;
    text-align: center;
  }
  .habits-card > img {
    width: 100%;
    border-radius: 100%;
    margin-bottom: 1.8rem;
  }

  /* tablets responsive styles for join-now section */

  .join-now {
    max-width: fit-content;
    margin: 0 1.25rem;
  }
  .join-intro {
    font-size: 2.25rem;
    margin-bottom: 0.8rem;
  }

  .join-description {
    margin-bottom: 1.5rem;
  }

/* tablet responsive styles forbmi intro */

  .bmi-intro {
    width:70%;
    text-align: left;
    margin: 3rem 2rem;
  }
  
  .bmi-intro-content > h1 {
    font-size: 2rem;
  }

  /* tablet responsive style for BMI section */


  .calculator {
    height: 772px;
    margin-top: 2rem;
  }

  .bmi-content {
    max-width: 90%;
    flex-direction: column;
    padding: 0.5rem;
  }
  
  .bmi-index {
    max-width: 100%;
    margin-bottom: 2.6rem;
  }

  .bmi-input {
    width: 100%;
  }

  .bmi-input > h1,
  .bmi-index > h1 {
      font-size: 1rem;
  }
 
  .bmi-input > p {
    font-size: 0.8rem;
  }

  table,
  tr,
  th,
  td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-collapse: collapse;
    text-align: left;
  }
  
  th {
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
  }
  
  .bmi-input > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin: 0.8rem 0 2rem 0;
  }


  
  .input-batch2 {
    width: 100%;
  }
  
  .input-batch2 > input , select{
    width:99%; 
    height: 40px; 
    padding: 0.8rem 2.5rem 0.8rem 1.25rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 0.5rem 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
} 
  
  .input-batch2 > select {
    color: rgba(255, 255, 255, 0.3);
  } 
  
  .input-batch3 {
    width: 100%;
  }
  .input-batch3 > select {
    width: 100%;;
  }

  .bmi-input button {
    width: 30%;
  }


  /* tablets responsive styles for teams section */

  .teams {
    max-width: 100%;
    padding: 1.25rem;
  }

  .teams-content {
    max-width: 100%;
    padding: 1.25rem;
  }


    /* tablets responsive styles for plan section */

    .plans {
      max-width: 90%;
      margin-bottom: 2rem;
    }
    
    .plans > h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .pricing-cards {
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    
    
    .plan-card-intro > h1 {
      font-size: 1.5rem;
      margin: 0.5rem 0;
    }
    .plan-card-intro span {
      font-size: 3rem;
    }
    .plan-card-intro h4 {
      margin: 1rem 3rem;
      padding: 0.5rem 0;
      background-color: rgb(230, 83, 60, 0.2);
      border-radius: 1rem;
    }

  /* tablets responsive styles for footer  */
  footer {
    height: 700px;
  }

  .footer-content {
    max-width: 100%;
    flex-direction: column;
    gap: 6rem;
    margin-left: 1.8rem;
  }
  .important-links {
    max-width: 100%;
    justify-content: space-around;
  }
}
